* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

:root {
  --title-color: rgb(60, 224, 90);
  --body-color: rgb(44, 44, 44);
  --active-color: rgb(231, 239, 232);

  --title-font: 'Oxygen', sans-serif;
  --body-font: 'Oxygen', sans-serif;
}


/* HEADER */

#header {
  border-bottom: 1px solid var(--title-color);
  margin-bottom: 2rem;
  display: flex;
  padding: 0 1rem;

  position: fixed;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  /*background: var(--base-color);*/
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

a.logo img
{
  width: 4rem;
  height: auto;
}

a.menu-item
{
  color: var(--active-color);
}

a.menu-item:hover
{
  color: var(--title-color);
}

nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--title-color);
}

h1.title
{
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color);
  text-align: center;
}

/* MAIN */

main div.container
{
  align-content: center;
  padding: 5rem 1rem;
  color: var(--title-color);
  font-family: var(--body-font);
  background: linear-gradient(
    270deg,
    var(--body-color),
    rgb(36, 33, 33)
  );
  border-bottom: 1px solid var(--title-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

main div.container p
{
  text-align: center;
  padding: 1rem 3rem;
  color: var(--active-color);
}

main div.container div.buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
}

main div.container button
{
  width: 10rem;
  height: 3rem;
}

main div.container button#calculate
{
  color: var(--body-color);
  background-color: var(--title-color);
  border: none;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.2s;
}

main div.container button#calculate:hover
{
  background-color: var(--active-color);
}

main div.container button#what-is
{
  color: var(--title-color);
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.2s;
}

main div.container button#what-is:hover
{
  transform: translateY(-0.25rem);
  color: var(--active-color);
}